@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@1,100&display=swap");
.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 10px;
}

.title {
  font-family: "Hurricane", cursive;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
