.add-button {
  position: relative;
  z-index: 2;
}
.link {
  text-decoration: none;
}
.box {
  position: relative;
}

.heart {
  position: relative;
  cursor: pointer;
  color: crimson;

  z-index: 2;
}

.product-card {
  position: relative;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.content {
  display: flex;
  justify-content: space-between;
}
