.order {
  position: relative;
  cursor: pointer;
}

.counter {
  position: absolute;
  border-radius: 50%;
  background-color: lightslategray;
  color: white;
  top: -5px;
  right: -5px;
  padding: 4px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  text-align: center;
}
.order svg {
  transition: all 0.3s;
}
.order:hover svg {
  color: darkgray;
}
